.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .fullTickets {
    display: flex;
    justify-content: center;
    color:#2196F3;
    font-weight: 600;
  }
  .pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    .start-ellipsis, .end-ellipsis {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
    & li {
      margin: 5px;
      display: flex;
      justify-content: center;
      @media (max-width: 600px) {
        margin: 1px;
      }
    }
    & button {
      border: 1px solid #9ABBCE;
      border-radius: 5px;
      background: #fff;
      padding: 3px;
      outline: none;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.5px;
      @media (max-width: 600px) {
        letter-spacing: 0;
        padding: 2px;
      }

      &:hover {
        cursor: url(../../images/Cursor.png) 8 4, auto;
        box-shadow: 2px 2px 0 0 rgba(33, 150, 243, 0.5);
        }

      &:disabled {
        border-color: lightgray;
        box-shadow: none;
        cursor: default;
      }
      &.active {
        background: #2196F3;
        color: #fff;
        
        &:hover {
          box-shadow: none;
          cursor: default;
          }
      } 
      
    }
      .pagination-item {
        width: 30px;
        height: 30px;   
        @media (max-width: 600px) {
          width: 25px;
        }  
      }
  }
}
